* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: hsl(0, 0%, 90%);
  overflow: hidden;
}

#world {
  max-width: calc(100% - 10px);
  max-height: calc(100% - 10px);
  aspect-ratio: 1 / 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid hsl(0, 0%, 70%);
}
#world .row {
  display: flex;
  flex-grow: 1;
  gap: 1px;
}
#world .field {
  flex-grow: 1;
}
#world .row:nth-child(even) .field:nth-child(even),
#world .row:nth-child(odd) .field:nth-child(odd) {
  background-color: hsl(0, 0%, 85%);
}
#world .row:nth-child(n) .field.cell:nth-child(n) {
  background-color: hsl(0, 0%, 25%);
  border-radius: 2px;
}
#world .row:nth-child(n) .field.well:nth-child(n) {
  background-color: hsl(0, 100%, 40%);
  border-radius: 2px;
}
#world .row:nth-child(n) .field.wall:nth-child(n) {
  background-color: hsl(218, 100%, 60%);
  border-radius: 2px;
}
#world .field button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  /* cursor: crosshair; */
  border-radius: 2px;
}
/* #world .field button:hover {
  background-color: hsla(0, 100%, 50%, 50%);
} */

#controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
