* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
main {
  height: 100%;
}
body {
  background-color: hsl(0, 0%, 90%);
  overflow: hidden;
}

main {
  display: flex;
  gap: 5px;
}

#world {
  height: 100%;
  flex-grow: 0;
  aspect-ratio: 1 / 1;
  padding: 5px;
  padding-inline-end: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
#world .row {
  display: flex;
  flex-grow: 1;
  gap: 1px;
}
#world .field {
  flex-grow: 1;
}
#world .row:nth-child(even) .field:nth-child(even),
#world .row:nth-child(odd) .field:nth-child(odd) {
  background-color: hsl(0, 0%, 85%);
}
#world .row:nth-child(n) .field.cell:nth-child(n) {
  background-color: hsl(0, 0%, 25%);
  border-radius: 2px;
}
#world .row:nth-child(n) .field.well:nth-child(n) {
  background-color: hsl(218, 100%, 60%);
  border-radius: 2px;
}
#world .row:nth-child(n) .field.wall:nth-child(n) {
  background-color: hsl(0, 100%, 40%);
  border-radius: 2px;
}
#world .field button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  /* cursor: crosshair; */
  border-radius: 2px;
}
/* #world .field button:hover {
  background-color: hsla(0, 100%, 50%, 50%);
} */

#controls {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px;
  padding-inline-start: 0;
  gap: 5px;
}

#controls .toolbar {
  display: flex;
  gap: 5px;
}

#controls .toolbar button {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

#controls .toolbar button .icon img {
  width: 100%;
  max-width: 32px;
  display: block;
  margin-bottom: 5px;
}

#controls .toolbar button#play[data-playing="true"] .play {
  display: none;
}

#controls .toolbar button#play[data-playing="false"] .pause {
  display: none;
}
